ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navBarLinks {
    font-weight: 200;
    font-size: smaller;
}

.navBar {
    opacity: 85%;
}

.row>* {
    padding: 0;
}

ul {
    justify-content: center;
}

@media all and (max-width: 991px) {
    .hiddenItems {
        display: none;
    }

    .bag {
        right: 20px;
        top: 0px;
    }

    .list {
        left: 25px;
        top: 4px;
    }


    .navigationBar {
        justify-content: space-between;
    }

    .listSVG{
        margin-bottom: 6px;
    }
}

.footerRow {
    background: #f5f5f7;
    justify-content: center;
}

.footerRow li {
    font-weight: 400;
    font-size: small;
    color: #909090;
    margin: 10px 0;
}

.footerRow li a {
    color: #747474;
}

.footerSecondLinks li h3 {
    font-weight: 400;
    font-size: small;
}

.footerSecondLinks h3 {
    color: rgb(55, 55, 55);
}


.footerLink:hover,
.footerSecondLinks a:hover {
    text-decoration: underline;
    color: #575757;
}

.footerSecondLinks {
    justify-content: center;
}

.btn {
    text-align: left;
}

.btnSpan {
    float: right;
}