ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.navBarLinks{
    font-weight: 200;
    font-size: smaller;
}

.row>*{
    padding: 0;
}

ul{
    justify-content: center;
}

@media all and (max-width: 991px) {
    .hiddenItems{
        display: none;
    }
    .bag{
        right: 20px;
    }
    .list{
        left: 25px;
        top: 4px;
    }
}